<aside class="jumbotron">
  <h3>
    From idea to engagement, improve your business information flow
  </h3>
  <h2>A place where you can share your thoughts, freely</h2>
  <p>
    We push information forward inside your organization with our strategic approach to digital
  </p>
  <button>Sign Up</button>
</aside>
