// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.organizations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;

  .welcome {
      width: 800px;
      margin: 2em 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h4 {
          margin-top: 1em;
      }
      .btn-new-message{
          color: #000;
          border: 2px solid #000;
          font-weight: bold;
          padding: 1em 2em;
          background-color: #ffff59;
          box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, .2);

      }
  }

  .message-board {
    background-color: #fff;
    width: 800px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 1em;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin-bottom: 5em;

    .message a {
      color: #000;
      margin-left: 1em;
    }
  }

  .signup {
    background-color: #fff;
    padding: 2.5em 2em;
    border-radius: 0.5em;

    p {
      color: #999;
    }

    h1,
    h2 {
      color: #000;
    }

    form {
      width: 500px;

      input[type="submit"] {
        background-color: #4ec7db;
        color: #fff;
        font-weight: bold;
        padding: 1em 2em;
        border: none;
        margin-top: 1em;
        border-radius: 0.5em;
        font-size: 1.3em;
        cursor: pointer;
      }

      label {
        color: #000;
      }

      .field_with_errors label {
        color: #f00;
        font-weight: bold;
      }

      .field_with_errors {
        margin-top: 0.5em;
        padding: 0;
        background-color: #fff;
      }
    }

    .form-field {
      input,
      textarea {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        width: 100%;
      }

      input {
        font-size: 2em;
      }

      label {
        margin: 0.5em 0;
        font-size: 1.3em;
      }
    }
  }
}
