// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.organizations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;

  .signup {
    background-color: #fff;
    padding: 2.5em 2em;
    border-radius: 0.5em;

    p {
      color: #999;
    }

    h1,
    h2 {
      color: #000;
    }

    form {
      width: 500px;

      input[type="submit"] {
        background-color: #4ec7db;
        color: #fff;
        font-weight: bold;
        padding: 1em 2em;
        border: none;
        margin-top: 1em;
        border-radius: 0.5em;
        font-size: 1.3em;
        cursor: pointer;
      }

      label{
          color: #000;
      }

      .field_with_errors label {
        color: #f00;
        font-weight: bold;
      }

      .field_with_errors{
          margin-top: .5em;
          padding: 0;
          background-color: #fff;
      }
    }

    .form-field {
      input,
      textarea {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        width: 100%;
      }

      input {
        font-size: 2em;
      }

      label {
        margin: 0.5em 0;
        font-size: 1.3em;
      }
    }
  }
}
